name: Run Python Script Daily

on:
  schedule:
    - cron: '30 3 * * *'   # 9:00 AM IST (UTC 03:30)
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        env:
          AGODA_API_KEY: ${{ secrets.AGODA_API_KEY }}
          AGODA_SITE_ID: ${{ secrets.AGODA_SITE_ID }}
        run: |
          python verify_blog_links.py --blog-url "https://sakrecubes.com/2022/10/bali-complete-travel-guide.html" --output bali_hotels.csv
          python verify_blog_links.py --blog-url "https://sakrecubes.com/2024/12/varkala-complete-guide.html" --output varkala_hotels.csv

          python verify_blog_links.py --blog-url "https://sakrecubes.com/2023/05/munnar-complete-travel-guide.html" --output munnar_hotels.csv

          python verify_blog_links.py --blog-url "https://sakrecubes.com/2022/12/goa-complete-travel-guide.html" --output goa_hotels.csv

          python verify_blog_links.py --blog-url "https://sakrecubes.com/2023/12/singapore-complete-guide.html" --output singapore_hotels.csv

          python verify_blog_links.py --blog-url "https://sakrecubes.com/2022/06/best-places-to-stay-in-mysore.html" --output mysore_hotels.csv
          python verify_blog_links.py --blog-url "https://sakrecubes.com/2023/09/chikmagaluru.html" --output chikmagaluru_hotels.csv
          python verify_blog_links.py --blog-url "https://sakrecubes.com/2023/10/udupi-complete-guide.html" --output udupi_hotels.csv
